@import "tailwindcss";
@import "tw-animate-css";
@import "tailwind-animations";

@custom-variant dark (&:where(.dark, .dark *));

@view-transition {
  navigation: auto;
}

/* Font Faces */
@font-face {
  font-family: "Pretendard Variable";
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("/fonts/SourceSans3-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NanumDaeGwangYuRi";
  src: url("/fonts/NanumDaeGwangYuRi.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    --font-pretendard: "Pretendard Variable", sans-serif;
    --font-daegwangyuri: "NanumDaeGwangYuRi", cursive;
    --font-source-sans: "Source Sans 3", sans-serif;
    --radius: 0.625rem;

    --background: oklch(1 0 0);
    --foreground: oklch(0.147 0.004 49.25);
    --text-default: var(--color-gray-900);
  }

  .dark {
    --background: var(--color-stone-900);
    --foreground: oklch(0.985 0.001 106.423);
    --text-default: var(--color-gray-100);
  }
}

@theme inline {
  /* Fonts */
  --font-minecraft: var(--font-minecraft);
  --font-source-sans: var(--font-source-sans);
  --font-pretendard: var(--font-pretendard);
  --font-daegwangyuri: var(--font-daegwangyuri);

  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-default: var(--text-default);

  /* Radius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Animations */
  --animate-bounce-slow: float 4s linear infinite;

  /* Shadows */
  --shadow-page:
    oklch(0.3 0.01 255) 0px 4px 8px -4px,
    oklch(0.3 0.01 255 / 0.08) 0px 0px 0px 1px;
  --shadow-post: oklch(0 0 0 / 0.16) 0px 1px 2px;
  --shadow-header:
    0 10px 15px -5px oklch(0.5 0.27 296.8 / 0.1),
    0 5px 5px -5px oklch(0.5 0.27 296.8 / 0.2);

  /* Keyframes */
  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-5px);
    }
  }
}

/* Scroll Animations */
@keyframes scroll-scale-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.82);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .scale-out {
    animation: scroll-scale-out linear forwards;
    animation-duration: auto;
    animation-timeline: view();
    animation-range: exit 0% exit 70%;
  }
}
